In [29]:
# araba_fiyat_regresyon.ipynb
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import os

In [30]:
print(os.getcwd())
print(os.path.join(os.getcwd(),"Car details v3.csv"))

/home/serkan/Belgeler/2021-oyg1-hi-a2
/home/serkan/Belgeler/2021-oyg1-hi-a2/Car details v3.csv

In [31]:
veri = pd.read_csv("Car details v3.csv")
veri.head(3)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0

In [32]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [33]:
#boş veri bulunan satırlar silincek
veri_islem=veri.dropna(axis=0)
veri_islem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7906 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   seller_type    7906 non-null   object
 6   transmission   7906 non-null   object
 7   owner          7906 non-null   object
 8   mileage        7906 non-null   object
 9   engine         7906 non-null   object
 10  max_power      7906 non-null   object
 11  torque         7906 non-null   object
 12  seats          7906 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 864.7+ KB

In [34]:
#tekrar eden satırla silinecek
veri_islem.drop_duplicates(subset=None, inplace=True)
veri_islem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6717 entries, 0 to 8125
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   object
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   object
 5   seller_type    6717 non-null   object
 6   transmission   6717 non-null   object
 7   owner          6717 non-null   object
 8   mileage        6717 non-null   object
 9   engine         6717 non-null   object
 10  max_power      6717 non-null   object
 11  torque         6717 non-null   object
 12  seats          6717 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 734.7+ KB

In [35]:
#year yerine age
#2022-year
import warnings 
warnings.filterwarnings("ignore")
veri_islem["age"]=2022-veri_islem["year"]
veri_islem.head(3)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,age
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,8
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,8
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,16

In [ ]:
#name,seats,torque,year bu sütunlar atılacak
veri_islem.drop(columns=["name","seats","torque","year"],axis=1,inplace=True)
veri_islem.info()

In [37]:
veri_islem.head(3)

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,age
0,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,8
1,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,8
2,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,16

In [38]:
#mileage,engine ve max_power daki harflerden kurtulacağız
veri_islem.mileage=veri_islem.mileage.str.split(" ",expand=True)[0].astype(float)

In [ ]:
veri_islem.engine=veri_islem.engine.str.split(" ",expand=True)[0].astype(float)
veri_islem.max_power=veri_islem.max_power.str.split(" ",expand=True)[0].astype(float)
veri_islem.head()

In [ ]:
# fuel, seller_type, transmission ve owner sayısallaştırılacak.
veri_islem.owner.unique()
veri_islem.owner.replace(to_replace=['First Owner', 'Second Owner', 'Third Owner','Fourth & Above Owner', 'Test Drive Car'],value=[1,2,3,4,5],inplace=True)

In [62]:
#list comprehesion
liste=[i for i in range(20)]
liste

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [52]:
for s in ["fuel","seller_type","transmission"]:
    l=veri_islem[s].unique()
    veri_islem[s].replace(to_replace=l,value=[i for i in range(1,len(l)+1)],inplace=True)

In [ ]:
veri_islem.info()

In [65]:
# ön işlem yapılmış dataframe yapsısını csv dosyasına aktaralım
veri_islem.to_csv("car_preprocess.csv",index=False)

In [76]:
#kalan veri eğitim ve test verisi olarak 4 parçaya ayrılaca (x_egitim,x_test,y_egitim,y_test)
from sklearn.model_selection import train_test_split

In [ ]:
veri_islem.info()

In [77]:
X = veri_islem.iloc[:,1:10].values
y = veri_islem.iloc[:,0].values.reshape(-1,1)
print(X.shape)
print(y.shape)
# y=a.x1+b.x2+....i.x9+j

(6717, 9)
(6717, 1)

In [81]:
#kalan veri eğitim ve test verisi olarak 4 parçaya ayrılaca (x_egitim,x_test,y_egitim,y_test)
x_egitim,x_test,y_egitim,y_test=train_test_split(X,y,test_size=0.2,random_state=22)

In [82]:
# eğitim uygulancak
model = LinearRegression()
model.fit(x_egitim,y_egitim)

LinearRegression()

In [83]:
model.score(x_test,y_test)

0.6142539317275937

In [84]:
from joblib import dump
dump(model,"arac_lineer_resgresyon.joblib")

['arac_lineer_resgresyon.joblib']

In [85]:
from sklearn.preprocessing import PolynomialFeatures