In [63]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [64]:
veri=pd.read_csv("olimpiyat2.csv")
veri.head(3)

                        isim cinsiyet   yas    boy  kilo       spor
0    Slvia Domnguez Fernndez        K  29.0  167.0  64.0  Basketbol
1         Usman Edu Muhammed        E  22.0  169.0  78.0     Futbol
2  Okechukwu Godson Azubuike        E  19.0  170.0  68.0     Futbol

In [65]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isim      160 non-null    object
 1   cinsiyet  160 non-null    object
 2   yas       160 non-null    float64
 3   boy       155 non-null    float64
 4   kilo      156 non-null    float64
 5   spor      160 non-null    object
dtypes: float64(3), object(3)
memory usage: 7.6+ KB

In [66]:
veri_temiz = veri.copy()

In [67]:
# veri deki eksik sütunları silme
veri_temiz.drop(labels=["boy","kilo"],axis=1)#inplace=True

                                  isim cinsiyet   yas       spor
0              Slvia Domnguez Fernndez        K  29.0  Basketbol
1                   Usman Edu Muhammed        E  22.0     Futbol
2            Okechukwu Godson Azubuike        E  19.0     Futbol
3                        Tamara Radoaj        K  28.0  Basketbol
4                  Popoola Sodiq Saliu        E  21.0     Futbol
..                                 ...      ...   ...        ...
155                 Emanuele Birarelli        E  35.0   Voleybol
156            Jovana Brakoevi-Kancian        K  28.0   Voleybol
157  Bruno "Bruninho" Mossa de Rezende        E  30.0   Voleybol
158            Tina Alexandria Charles        K  27.0  Basketbol
159  Micah Makanamaikalani Christenson        E  23.0   Voleybol

[160 rows x 4 columns]

In [68]:
veri_temiz.dropna(axis=0).info()#boş olan verilerin axis=0 ile satırlardan silinmesini sağladık

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 0 to 154
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isim      151 non-null    object
 1   cinsiyet  151 non-null    object
 2   yas       151 non-null    float64
 3   boy       151 non-null    float64
 4   kilo      151 non-null    float64
 5   spor      151 non-null    object
dtypes: float64(3), object(3)
memory usage: 8.3+ KB

In [69]:
veri_temiz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isim      160 non-null    object
 1   cinsiyet  160 non-null    object
 2   yas       160 non-null    float64
 3   boy       155 non-null    float64
 4   kilo      156 non-null    float64
 5   spor      160 non-null    object
dtypes: float64(3), object(3)
memory usage: 7.6+ KB

In [70]:
# sklearn numpy ile çalışır.
# verielri 2 boyutlu ister.
# veriler bir sütun içinse satır sayısı ne olursa olsun 1 sütun ister
imputer=SimpleImputer(missing_values=np.nan,strategy="median")#strategy--> mean,median,most_frequent,constant
boy=veri_temiz["boy"].values.reshape(-1,1)
kilo=veri_temiz["kilo"].values.reshape(-1,1)
veri_temiz["boy"]=imputer.fit_transform(boy)
veri_temiz["kilo"]=imputer.fit_transform(kilo)
veri_temiz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isim      160 non-null    object
 1   cinsiyet  160 non-null    object
 2   yas       160 non-null    float64
 3   boy       160 non-null    float64
 4   kilo      160 non-null    float64
 5   spor      160 non-null    object
dtypes: float64(3), object(3)
memory usage: 7.6+ KB

In [71]:
q1=veri_temiz["yas"].describe()["25%"]
q3=veri_temiz["yas"].describe()["75%"]
iqr=q3-q1
alt=q1-iqr*1.5
ust=q3+iqr*1.5
ort=veri_temiz["yas"].describe()["50%"]
print("yas_alt",alt)
print("yas_ust",ust)
print("yas_median",ort)
veri_temiz[(veri_temiz["yas"]<alt)|(veri_temiz["yas"]>ust)]

yas_alt 9.0
yas_ust 41.0
yas_median 25.0

Empty DataFrame
Columns: [isim, cinsiyet, yas, boy, kilo, spor]
Index: []

In [72]:
# for s in ["yas","boy","kilo"]:
#     aykirilar=[]
#     q1=veri_temiz[s].describe()["25%"]
#     q3=veri_temiz[s].describe()["75%"]
#     iqr=q3-q1
#     alt=q1-iqr*1.5
#     ust=q3+iqr*1.5
#     ort=veri_temiz[s].describe()["50%"]
    
#     aykirilar=(veri_temiz[(veri_temiz[s]<alt)|(veri_temiz[s]>ust)].index.tolist())
    
#     veri_temiz.loc[aykirilar,s]=float(ort)
#     print(f"\n\n{s} veri aykırılar")
#     print(s,aykirilar)

In [73]:
# aykirilar=[]
# ort=[]
# for s in ["yas","boy","kilo"]:    
#     q1=veri_temiz[s].describe()["25%"]
#     q3=veri_temiz[s].describe()["75%"]
#     iqr=q3-q1
#     alt=q1-iqr*1.5
#     ust=q3+iqr*1.5
#     ort.append(veri_temiz[s].describe()["50%"])
#     aykirilar.append(veri_temiz[(veri_temiz[s]<alt)|(veri_temiz[s]>ust)].index.tolist())    
#     # veri_temiz.loc[aykirilar,s]=float(ort)
# # print(f"\n\n{s} veri aykırılar")
# # print(s,aykirilar)
# veri_temiz.iloc[aykirilar[0],2]=float(ort[0])
# veri_temiz.iloc[aykirilar[1],3]=float(ort[1])
# veri_temiz.iloc[aykirilar[2],4]=float(ort[2])

In [74]:
# q1=veri_temiz["yas"].describe()["25%"]
# q3=veri_temiz["yas"].describe()["75%"]
# iqr=q3-q1
# alt=q1-iqr*1.5
# ust=q3+iqr*1.5
# ort=veri_temiz["yas"].describe()["50%"]
# veri_temiz.loc[veri_temiz[(veri_temiz["yas"]<alt)|(veri_temiz["yas"]>ust)].index.tolist(),"yas"]=float(ort)

# q1=veri_temiz["boy"].describe()["25%"]
# q3=veri_temiz["boy"].describe()["75%"]
# iqr=q3-q1
# alt=q1-iqr*1.5
# ust=q3+iqr*1.5
# ort=veri_temiz["boy"].describe()["50%"]
# veri_temiz.loc[veri_temiz[(veri_temiz["boy"]<alt)|(veri_temiz["boy"]>ust)].index.tolist(),"boy"]=float(ort)

# q1=veri_temiz["kilo"].describe()["25%"]
# q3=veri_temiz["kilo"].describe()["75%"]
# iqr=q3-q1
# alt=q1-iqr*1.5
# ust=q3+iqr*1.5
# ort=veri_temiz["kilo"].describe()["50%"]
# veri_temiz.loc[veri_temiz[(veri_temiz["kilo"]<alt)|(veri_temiz["kilo"]>ust)].index.tolist(),"kilo"]=float(ort)

In [75]:
# aykirilar=[]
# for s in ["yas","boy","kilo"]:    
#     q1=veri_temiz[s].describe()["25%"]
#     q3=veri_temiz[s].describe()["75%"]
#     iqr=q3-q1
#     alt=q1-iqr*1.5
#     ust=q3+iqr*1.5
#     ort=veri_temiz[s].describe()["50%"]    
#     aykirilar.append(veri_temiz[(veri_temiz[s]<alt)|(veri_temiz[s]>ust)].index.tolist())    

# print(aykirilar)

In [82]:
q1=veri_temiz["kilo"].describe()["25%"]
q3=veri_temiz["kilo"].describe()["75%"]
iqr=q3-q1
alt=q1-iqr*1.5
ust=q3+iqr*1.5
ort=veri_temiz["kilo"].describe()["50%"]
aykirilar=veri_temiz[(veri_temiz["kilo"]<alt)|(veri_temiz["kilo"]>ust)]
# veri_temiz.loc[veri_temiz[(veri_temiz["kilo"]<alt)|(veri_temiz["kilo"]>ust)].index.tolist(),"kilo"]=float(ort)
print(ort)
aykirilar

77.0

                             isim cinsiyet   yas    boy   kilo      spor
141  Matthew John "Matt" Anderson        E  29.0  202.0  100.0  Voleybol
145                  Ivan Zaytsev        E  27.0  204.0  100.0  Voleybol
147                   Simone Buti        E  32.0  206.0  100.0  Voleybol
151                  Matteo Piano        E  25.0  208.0  102.0  Voleybol
152                Lucas Saatkamp        E  30.0  209.0  101.0  Voleybol

In [79]:
veri_temiz.loc[aykirilar.index,"kilo"]=77.0

In [80]:
veri_temiz.loc[aykirilar.index,"kilo"]

4      77.0
143    77.0
144    77.0
146    77.0
149    77.0
Name: kilo, dtype: float64