In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [2]:
veri=pd.read_csv("kalp_rahatsizligi2.csv")
veri.head(3)

,yas,cinsiyet,gogus_agrisi_tipi,hareketsiz_kan_basinci,serum_kolestrol,aclik_kan_sekeri,elektrokardiyografi,en_yuksek_kalp_hizi,anjin_bagli_egsersiz,st_depresyonu,st_egimi,buyuk_damarlar,talasemi,kalp_rahatsizligi
0,63.0,erkek,tipik anjinal,145.0,233.0,1,sol ventikuler hipertrofi,150.0,0,2.3,asagi egimli,0.0,sabit defekt,0
1,67.0,erkek,asemptomatik,160.0,286.0,0,sol ventikuler hipertrofi,108.0,1,1.5,duz,3.0,normal,1
2,67.0,erkek,asemptomatik,120.0,229.0,0,sol ventikuler hipertrofi,129.0,1,2.6,duz,2.0,tersinir defekt,1

In [3]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   yas                     303 non-null    float64
 1   cinsiyet                303 non-null    object
 2   gogus_agrisi_tipi       303 non-null    object
 3   hareketsiz_kan_basinci  303 non-null    float64
 4   serum_kolestrol         303 non-null    float64
 5   aclik_kan_sekeri        303 non-null    int64
 6   elektrokardiyografi     303 non-null    object
 7   en_yuksek_kalp_hizi     303 non-null    float64
 8   anjin_bagli_egsersiz    303 non-null    int64
 9   st_depresyonu           303 non-null    float64
 10  st_egimi                303 non-null    object
 11  buyuk_damarlar          299 non-null    float64
 12  talasemi                301 non-null    object
 13  kalp_rahatsizligi       303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [4]:
veri.rename(columns={
"gogus_agrisi_tipi":"gat",
"hareketsiz_kan_basinci":"hkb",
"serum_kolestrol":"sk",
"aclik_kan_sekeri":"aks",
"elektrokardiyografi":"ekg",
"en_yuksek_kalp_hizi":"eykh",
"anjin_bagli_egsersiz":"abe",
"st_depresyonu":"st_d",
"st_egimi":"st_e",
"buyuk_damarlar":"bds"},inplace=True)
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    object
 2   gat                303 non-null    object
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    object
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   st_d               303 non-null    float64
 10  st_e               303 non-null    object
 11  bds                299 non-null    float64
 12  talasemi           301 non-null    object
 13  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [7]:
# eksik veri olan sütunları yokedip yeni değişken oluşturduk
veri2 = veri.drop(labels=["bds","talasemi"],axis=1)
veri2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    object
 2   gat                303 non-null    object
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    object
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   st_d               303 non-null    float64
 10  st_e               303 non-null    object
 11  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(5), int64(3), object(4)
memory usage: 28.5+ KB

In [8]:
# eksik veri olan satırları yok edelim
veri3=veri.dropna(axis=0)
veri3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 0 to 301
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                297 non-null    float64
 1   cinsiyet           297 non-null    object
 2   gat                297 non-null    object
 3   hkb                297 non-null    float64
 4   sk                 297 non-null    float64
 5   aks                297 non-null    int64
 6   ekg                297 non-null    object
 7   eykh               297 non-null    float64
 8   abe                297 non-null    int64
 9   st_d               297 non-null    float64
 10  st_e               297 non-null    object
 11  bds                297 non-null    float64
 12  talasemi           297 non-null    object
 13  kalp_rahatsizligi  297 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 34.8+ KB

In [9]:
#kategorik ve sayısal veriler için ayrı olarak imputer tanımlandı
imps=SimpleImputer(missing_values=np.nan,strategy="median")
impk=SimpleImputer(missing_values=np.nan,strategy="most_frequent")

In [10]:
veri_temiz=veri.copy()
veri_temiz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    object
 2   gat                303 non-null    object
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    object
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   st_d               303 non-null    float64
 10  st_e               303 non-null    object
 11  bds                299 non-null    float64
 12  talasemi           301 non-null    object
 13  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [11]:
bds=veri_temiz["bds"].values.reshape(-1,1)
tal=veri_temiz["talasemi"].values.reshape(-1,1)
veri_temiz["bds"]=imps.fit_transform(bds)
veri_temiz["talasemi"]=impk.fit_transform(tal)
veri_temiz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    object
 2   gat                303 non-null    object
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    object
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   st_d               303 non-null    float64
 10  st_e               303 non-null    object
 11  bds                303 non-null    float64
 12  talasemi           303 non-null    object
 13  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [16]:
# aykırı verilerin tespit edilmesi.
print("sk q1=",veri_temiz["sk"].describe()["25%"])
print("sk q3=",veri_temiz["sk"].describe()["75%"])

sk q1= 211.0
sk q3= 275.0

In [17]:
sk_q1=veri_temiz["sk"].describe()["25%"]
sk_q3=veri_temiz["sk"].describe()["75%"]
sk_IQR=sk_q3-sk_q1
alt_sinir=sk_q1-1.5*sk_IQR
ust_sinir=sk_q3+1.5*sk_IQR
print("sk alt sınır=",alt_sinir)
print("sk üst sınır=",ust_sinir)

sk alt sınır= 115.0
sk üst sınır= 371.0

In [19]:
#aykırı değerler tespit edildi
aykiri=veri_temiz[(veri_temiz["sk"]<alt_sinir)|(veri_temiz["sk"]>ust_sinir)]
aykiri["sk"]

48     417.0
121    407.0
152    564.0
173    394.0
181    409.0
Name: sk, dtype: float64

In [20]:
veri_temiz=veri_temiz[(veri_temiz["sk"]>alt_sinir)&(veri_temiz["sk"]<ust_sinir)]
veri_temiz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                298 non-null    float64
 1   cinsiyet           298 non-null    object
 2   gat                298 non-null    object
 3   hkb                298 non-null    float64
 4   sk                 298 non-null    float64
 5   aks                298 non-null    int64
 6   ekg                298 non-null    object
 7   eykh               298 non-null    float64
 8   abe                298 non-null    int64
 9   st_d               298 non-null    float64
 10  st_e               298 non-null    object
 11  bds                298 non-null    float64
 12  talasemi           298 non-null    object
 13  kalp_rahatsizligi  298 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 34.9+ KB

In [ ]:
# ilk 20 satıraın yas,cinsiyet ve gat sütunları
veri_temiz.iloc[0:21,0:3]

In [ ]:
#yas ve cinsiyet sütunlarının tüm satırları
veri_temiz.iloc[:,0:2]

In [25]:
# yas,abe,bds sürunlarının 50,58 ve 60. satıarları
veri_temiz.iloc[[49,57,59],[0,8,11]]

     yas  abe  bds
50  41.0    0  1.0
58  54.0    0  1.0
60  51.0    1  0.0

In [26]:
veri_temiz.head(3)

,yas,cinsiyet,gat,hkb,sk,aks,ekg,eykh,abe,st_d,st_e,bds,talasemi,kalp_rahatsizligi
0,63.0,erkek,tipik anjinal,145.0,233.0,1,sol ventikuler hipertrofi,150.0,0,2.3,asagi egimli,0.0,sabit defekt,0
1,67.0,erkek,asemptomatik,160.0,286.0,0,sol ventikuler hipertrofi,108.0,1,1.5,duz,3.0,normal,1
2,67.0,erkek,asemptomatik,120.0,229.0,0,sol ventikuler hipertrofi,129.0,1,2.6,duz,2.0,tersinir defekt,1

In [27]:
veri_temiz.iloc[:,[0,3,4,7,9,11]]=minmax_scale(X=veri_temiz.iloc[:,[0,3,4,7,9,11]].values,feature_range=(0,1))
veri_temiz.head(3)

,yas,cinsiyet,gat,hkb,sk,aks,ekg,eykh,abe,st_d,st_e,bds,talasemi,kalp_rahatsizligi
0,0.708333,erkek,tipik anjinal,0.481132,0.457265,1,sol ventikuler hipertrofi,0.603053,0,0.370968,asagi egimli,0.000000,sabit defekt,0
1,0.791667,erkek,asemptomatik,0.622642,0.683761,0,sol ventikuler hipertrofi,0.282443,1,0.241935,duz,1.000000,normal,1
2,0.791667,erkek,asemptomatik,0.245283,0.440171,0,sol ventikuler hipertrofi,0.442748,1,0.419355,duz,0.666667,tersinir defekt,1

In [28]:
le=LabelEncoder()
veri_temiz["cinsiyet"]=le.fit_transform(y=veri_temiz["cinsiyet"])
veri_temiz["gat"]=le.fit_transform(y=veri_temiz["gat"])
veri_temiz["ekg"]=le.fit_transform(y=veri_temiz["ekg"])
veri_temiz["st_e"]=le.fit_transform(y=veri_temiz["st_e"])
veri_temiz["talasemi"]=le.fit_transform(y=veri_temiz["talasemi"])
print(veri_temiz.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                298 non-null    float64
 1   cinsiyet           298 non-null    int64
 2   gat                298 non-null    int64
 3   hkb                298 non-null    float64
 4   sk                 298 non-null    float64
 5   aks                298 non-null    int64
 6   ekg                298 non-null    int64
 7   eykh               298 non-null    float64
 8   abe                298 non-null    int64
 9   st_d               298 non-null    float64
 10  st_e               298 non-null    int64
 11  bds                298 non-null    float64
 12  talasemi           298 non-null    int64
 13  kalp_rahatsizligi  298 non-null    int64
dtypes: float64(6), int64(8)
memory usage: 34.9 KB
None

In [ ]:
veri_temiz["cinsiyet"]=veri_temiz["cinsiyet"].astype("category")
veri_temiz["gat"]=veri_temiz["gat"].astype("category")
veri_temiz["ekg"]=veri_temiz["ekg"].astype("category")
veri_temiz["st_e"]=veri_temiz["st_e"].astype("category")
veri_temiz["talasemi"]=veri_temiz["talasemi"].astype("category")
veri_temiz.info()

In [30]:
veri_temiz.to_csv("kalp_rahatsizlik_temiz.csv",index=False)